<div class="home-container">
    <h1>Bine ai venit!</h1>
    <p>
      BookMaps este o aplicațe web interactiva folosind ArcGIS, care afișeaza localizarea
      librăriilor din București. Aplicația va permite să explorați librăriile pe hartă,
      să cautați după numele librăriile și să obțineți detalii suplimentare despre fiecare locație.
    </p>
    <div class="actions">
        <!-- Buton pentru Login -->
        <button mat-button color="primary" [routerLink]="'/login'">Login</button>
        
        <!-- Buton pentru Register -->
        <button mat-button color="accent" [routerLink]="'/register'">Register</button>
      </div>
  </div>
  